<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div th:insert="~{navbar :: navbar}"></div>
<div class="container mt-2">
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="orderFilter" oninput="findOrdersByFilter()" placeholder="Пошук за ЕП">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#statusButtons" aria-expanded="false" aria-controls="statusButtons">
                <i class="fa fa-sort-desc"></i>
            </button>
        </div>
    </div>
    <div class="collapse" id="statusButtons">
        <div class="card card-body">
            <ul class="list-unstyled">
                <h3>Фільтрувати по статусу</h3>
                <li><button class="btn btn-link" onclick="findOrdersByStatus('ALL')">Всі</button></li>
                <li><button class="btn btn-link" onclick="findOrdersByStatus('NEW')">Новий</button></li>
                <li><button class="btn btn-link" onclick="findOrdersByStatus('PROCESSING')">Обробляється</button></li>
                <li><button class="btn btn-link" onclick="findOrdersByStatus('SHIPPED')">Доставлений</button></li>
                <li><button class="btn btn-link" onclick="findOrdersByStatus('CANCELLED')">Скасований</button></li>
                <li><button class="btn btn-link" onclick="findOrdersByStatus('COMPLETED')">Виконано</button></li>
            </ul>
        </div>
    </div>
</div>

<h1>Всі замовлення</h1>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Номер замовлення</th>
        <th scope="col">ЕП акаунту замовника</th>
        <th scope="col">Менеджер</th>
        <th scope="col">Статус</th>
    </tr>
    </thead>
    <tbody id="ordersTable">

    </tbody>
</table>
</body>
</html>
<script type="text/javascript" th:src="@{/js/ordersAdmin.js}" th:inline="javascript"></script>
<script th:inline="javascript">
    buildOrdersTable()
</script>