<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">SHOP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/admin/staff">Адмін - персонал</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/products">Адмін - продукт</a>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
                <button data-toggle="modal" class="btn btn-link nav-link" data-target="#registerModal">Зареєструватися
                </button>
            </li>
            <li class="nav-item">
                <button data-toggle="modal" class="btn btn-link nav-link" data-target="#cartModal">Кошик
                </button>
            </li>
        </ul>
    </div>

    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModal"
         aria-hidden="true" sec:authorize="isAnonymous()">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registerModalLabel">Реєстрація</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:object="${registerBody}" th:action="@{/auth/registration}" method="post">
                        <label for="firstname">Ім'я</label>
                        <input type="text" required id="firstname" name="firstname"/>
                        <br>
                        <label for="lastname">Прізвище</label>
                        <input type="text" required id="lastname" name="lastname"/>
                        <br>
                        <label for="phone">Номер телефону</label>
                        <input type="text" required id="phone" name="phone"/>
                        <br>
                        <label for="email">Електронна пошта</label>
                        <input type="email" required id="email" name="email"/>
                        <br>
                        <label for="regPassword">Пароль</label>
                        <input type="password" required id="regPassword" name="regPassword"/>
                        <br>
                        <div id="err"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                            <button type="submit" class="btn btn-primary">Зареєструватися</button>
                        </div>
                    </form>
                    <button onclick="openLoginModal()" data-toggle="modal" class="btn btn-link nav-link"
                            data-target="#loginModal">Авторизуватись
                    </button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true"
         sec:authorize="isAnonymous()">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Авторизація</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/login">
                        <label for="username">Електронна пошта</label>
                        <input type="email" required id="username" name="username"/>
                        <br>
                        <label for="password">Пароль</label>
                        <input type="password" required id="password" name="password"/>
                        <br>
                        <div id="logerr"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                            <button type="submit" class="btn btn-primary">Авторизуватись</button>
                        </div>
                    </form>
                    <button onclick="openRegisterModal()" data-toggle="modal" class="btn btn-link nav-link"
                            data-target="#registerModal">Зареєструватися
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Кошик</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="cartView">
                    </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Продовжити покупки
                        </button>
                        <button onclick="" type="submit" id="submitOrder" class="btn btn-primary">Оформити замовлення</button>
                    </div>
                </div>

            </div>
        </div>

    <div th:if="${isNew != null}">
        <div th:if="${isNew}">
            <p>Welcome to our website! Please proceed with your registration.</p>
        </div>
        <div th:unless="${isNew}">
            <p>User is already registered.</p>
        </div>
    </div>
</nav>
</body>
</html>
