<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<script type="text/javascript" th:src="@{/js/auth.js}" th:inline="javascript"></script>

<button onclick="btnOpenModal()">open modal</button>


<dialog class="modal" id="modal">
    <button onclick="btnCloseModal()">Close</button>
    <h2>Registration</h2>
<!--    <input type="password" id="password" name="password" />-->
<!--    <label for="firstname">Password</label>-->
<!--    <input type="text" id="firstname" name="firstname" />-->
<!--    <label for="lastname">Password</label>-->
<!--    <input type="text" id="lastname" name="lastname" />-->
<!--    <label for="phone">Phone</label>-->
<!--    <input type="text" id="phone" name="phone" />-->
<!--    <label for="email">Email:</label>-->
<!--    <input type="email" id="email" name="email"/>-->
<!--    <label for="password">Password</label>-->
    <button>SUBMIT</button>
</dialog>
</body>
</html>
